---
Checks: >
    -*,
    bugprone-*,
    cert-*,
    clang-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    misc-include-cleaner.IgnoreHeaders: "*_deps/*",
    modernize-*,
    performance-*,
    readability-*
FormatStyle: file
HeaderFilterRegex: "^(apps|src|test)/"
WarningsAsErrors: "*"
