---
Checks: >
    -*,
    bugprone-*,
    cert-*,
    clang-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    modernize-*,
    performance-*,
    readability-*,
    misc-include-cleaner
FormatStyle: file
WarningsAsErrors: true
HeaderFilterRegex: ".*"
