---
Checks: >
    -*,
    bugprone-*,
    cert-*,
    clang-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    hicpp-*,
    misc-*,
    modernize-*,
    performance-*,
    readability-*
FormatStyle: file
HeaderFilterRegex: "^(apps|src|test)/"
WarningsAsErrors: "*"

CheckOptions:
    - key: misc-include-cleaner.IgnoreHeaders
      value: ".*_deps/.*"
